.container {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
    background-color: white;
}

.pageName {
    position: relative;
    top: 20%;
    font-size: 20px;
    text-shadow: 5px 5px #c7cdd4;
}

.active {
    background-color: lightblue;
}

.pageName a {
    text-decoration: none;
    color: black;
}